[Unit]
Description=Eve server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
Restart=always
ExecStart=/root/venvs/eve/bin/python /var/www/{{ domain_name }}/run.py

[Install]
WantedBy=multi-user.target
