// Layout
body {
  font-family: monospace;

  background: #ccc;
  background: linear-gradient(-45deg, #fff, #ccc) no-repeat center center fixed;
}

h1 {
  font-family: sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 200px;
  left: calc(50% - 100px);
}

// App
textarea {
  height: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.typer {
  font-size: 1.5em;

  .typed {
    color: #01df01;
  }

  .not-typed {
    color: black;
  }

  .invalid-typed {
    color: red;
    border-bottom: solid red 1px;
  }
}
